<style>
body {
	background:<%= @color %>;
}
</style>



<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<%= @color %>
<%= @size %>
<% if @size > 12 %>
<p> You got big feet </p>
<% end %>